.ui-carousel(ui-carousel="beforePaneChange")
    // Intro
    .ui-carousel-pane.animate.slow
        Hi!


    // Firstname and lastname
    .ui-carousel-pane.animate.slow
        Another


    // Email and phone
    .ui-carousel-pane.animate.slow
        Last